name: Check
on:
  push:
    branches:
      - main
  pull_request:
    types: [ready_for_review, opened, reopened, auto_merge_enabled]

jobs:
  pyscripts-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.2.2
      - uses: actions/setup-dotnet@v2
        with:
          python-version: 3.9
          dotnet-version: "6.0.x"
      - run: dotnet tool install -g Libplanet.Tools
      - run: |
          python -m pip install -r requirements.txt
          flit install --extras test
        name: install dependencies
      - run: planet key import --passphrase "test" "97548c4d920d07934c19fc012793cff0cb4a9da7c8986d971fcb4759ae31364b"
      - run: |
          pytest
        env:
          GITHUB_TOKEN: test
          SLACK_TOKEN: test
          KEY_PASSPHRASE: test
          KEY_ADDRESS: "0x0B442988524d719FFb938cDe2DbbB2Ad619Bb3CA"
          ENV: test
      - run: sh ./scripts/lint.sh
